@if (categoriesDetails) {
    <section class="my-20 pt-14 mx-6 p-6">
        <div class=" md:flex justify-between items-center gap-10 ">
          <div class="img mb-7 md:mb-0 md:w-[30%] rounded-lg">
            <img [src]="categoriesDetails.image" class="w-full rounded-lg " [alt]="categoriesDetails.name" />
          </div>
          <div class="md:w-[70%] text-center">
            <h2 class="text-3xl font-bold text-[#0AAD0A]">{{categoriesDetails.name}}</h2>
      
  
            </div>
     
        </div>
      </section>
      
  }