@if (brandsDetials) {
    <section class=" px-2 ">
        <div class="row align-items-center gy-3 ">
          <div class="d-grid col-12 col-lg-4">
            <img
              [src]="brandsDetials.image"
              class="w-100 rounded-2 shadow"
              [alt]="brandsDetials.name"
            />
          </div>
          <div class="d-grid col-12 col-lg-8 ">
            <h2 class="fs-2 fw-bold green-color text-center">{{ brandsDetials.name }}</h2>
          </div>
        </div>
    
    </section>
    
    }
    