section {
  padding: 9rem 4rem;
  input {
    background-color: #f9fafb;
    border-radius: 0.5rem;
    border: 1px solid rgba(128, 128, 128, 0.186);
    box-shadow: none;
    padding-right: 60px;
    &:focus {
      outline: 2px solid #0aad0a;
    }
  }

  .register-btn {
    background-color: #0aad0a;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    transition: 0.2s;
    &:hover {
      background-color: #198754;
    }
    &:disabled{
      background-color: #374151;
    }


  }

  .fa-solid {
    position: absolute;
    top: 44px;
    right: 20px;
    cursor: pointer;
    
  }
  .total-alert{
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  .sucAlert{
    position: relative;
      width: fit-content;
      background-color: #f0fdf4 ;
      padding: 10px 80px;
      border: 1px solid #86efac;
      border-radius: 10px;
    
      .fa-solid{
        position: absolute;
        left: 50px;
        top:15px
      }
  }
}


  .total-alert{
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  .errAlert{
    position: relative;
      width: fit-content;
      background-color: #fdf0f0 ;
      padding: 10px 80px;
      border: 1px solid #ef8686;
      border-radius: 10px;
    
      .fa-solid{
        position: absolute;
        left: 50px;
        top:15px
      }
  }
}
}
