<footer class="bg-[#EEEEEE] p-4 sm:p-12">
  <div class="container">
    <h2 class="font-bold text-[2rem]">{{"footer.GetTheFreshCartApp" |translate }} :</h2>
    <p class="pt-2 text-gray-700 tracking-tight">
      {{"footer.WewillsendyouAlinkOpenItInYourPhoneToDownloadApp" |translate }}
    </p>
    <form class="md:flex gap-x-7 pt-4 pb-8 border-b-[0.5px] border-slate-600">
      <input
        type="email"
        placeholder="{{'footer.enterYourEmail' |translate }}....."
        class="rounded-lg w-full md:w-[85%] border-none shadow-sm"
      />
      <button
        class="bg-[#0AAD0A] text-white px-5 py-2 block w-full my-6 mb-1 md:my-0 md:w-[30%] rounded-lg"
      >
      {{'footer.ShareAppLink' |translate }}
      </button>
    </form>
    <div class="py-9 lg:py-16 lg:flex lg:justify-between items-center">
      <div class="payment flex items-center gap-3 my-8 lg:my-0">
        <h3 class="font-semibold">{{'footer.PaymentPartners' |translate }} :</h3>

        <img
          src="images/American-Express-Color.png"
          alt="American-Express"
          class="w-[5rem] sm:w-[4.5rem]"
        />

        <img
          src="images/mastercard.webp"
          alt="mastercard"
          class="w-[5rem] sm:w-[4.5rem]"
        />
        <img
          src="images/paypal.png"
          alt="paypal"
          class="w-[5rem] sm:w-[4.5rem]"
        />
      </div>
      <div class="download flex items-center r gap-3">
        <h3 class="font-semibold">{{'footer.GetDeliveriesWithFreshCart' |translate }} :</h3>
        <img
          src="images/get-google-play.png"
          alt="google-play"
          class="w-[6.5rem] sm:w-[8rem] cursor-pointer"
        />
        <img
          src="images/get-apple-store.png"
          alt="apple-store"
          class="w-[6.5rem] sm:w-[7rem] cursor-pointer"
        />
      </div>
    </div>
    <div class="flex justify-center items-center pt-3 text-gray-700">
      <table></table>
      <p>{{'footer.CopyRight2025©ByAhmedAdelAllRightsReserved' |translate }}</p>
    </div>
  </div>
</footer>
