<section class=" px-2">
  <div class="d-flex justify-content-center text-center">
    <div>
      <h1 class="text-capitalize fw-bold my-2 fs-2 green-color">Our Brands</h1>
      <p>You can see our brands and each brand includes the products in it</p>
    </div>
  </div>


  <div class="row mb-5">
      @for (brand of brands()| paginate: { itemsPerPage: 8, currentPage: Page } ;
    track brand._id){
        <div class="d-grid col-12 col-md-6 col-lg-3">
          <div 
          [routerLink]="['/brandsDetails/', brand._id]"
          class="card shadow">
            <div>
              <div>
                <img class="img-card w-100" [src]="brand.image" [alt]="brand.name" />
              </div>
              <div>
                <h2 class="green-color fs-4 fw-bold text-capitalize text-center">{{brand.name}}</h2>
              </div>
            </div>
          </div>
        </div>
    }
</div>


</section>


<div class="d-flex justify-content-center align-items-center pb-5">
    <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
  </div>
  
